{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Подключение Bootstrap через CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Подключение пользовательского стиля -->
    <link rel="stylesheet" href="{% static 'films/css/films.css' %}">

    {% block title %}Default Title{% endblock %}
    <!-- Встроенный CSS для фона -->
    <style>
        body {
            background-color: #8FBC8F; /* Задаём цвет фона страницы */
        }
    </style>
</head>
<body>
<!-- Включение меню -->
    {% include 'films/menu.html' %}

    <div class="container my-5">
        <div class="row">
            <!-- Основной контент -->
            <div class="col-md-9" style="padding-left: 50px;">
                {% block content %}
                <!-- Название страницы -->
                <h1 class="mb-4">{{ page_title }}</h1>

                <!-- Первая картинка -->
                <div class="mb-4">
                    <img src="{{ first_image }}" alt="Первая картинка" class="img-fluid">
                </div>

                <!-- Текстовый блок -->
                <div class="mb-4">
                    <p>{{ page_text }}</p>
                </div>

                <!-- Вторая картинка -->
                <div class="mb-4">
                    <img src="{{ second_image }}" alt="Вторая картинка" class="img-fluid">
                </div>
                {% endblock %}
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
